# .gitignore for Minecraft Forge Mods

# Build Outputs
build/
bin/
out/
.gradle/
.idea/
.settings/
.vscode/
run/
run-data/
logs/


# IDE
*.iml
*.ipr
*.iws
.classpath
.project

# OS
*.DS_Store
Thumbs.db

# Temp Files
*.log
*.swp


*.zip
